*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    border: 2px solid black;
}
#name{
    border: 2px solid black;
    margin: 20px;
    padding: 60px;
}
